.card{
  margin-top: 0.5rem;
}

.wi {
  font-size: 4rem;

  &.wi-celsius{
    font-size: 1.5rem;
    position: relative;
    top:0.24rem;
  }
}

.weatherInfo{
  text-align: center;
  padding: 10px;

  & > * {
    padding: 5px;
  }
}

label{
  margin-right: 0.5rem;
}

section{
  text-align: center;
}

.weatherForecastSection > *{
  margin: 5px 0;
  padding: 0;
}